body {
display: flex;
color: rgb(71, 47, 47);
justify-content: center;
}

h1 {
  padding: 20px 0;
  font-family: 'Manrope', sans-serif;
  font-size: 4vw;
}

div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;

}

li {
  list-style: none;
  margin: 10px 0;
}

li:hover {
  cursor: pointer;
}

button {
  padding: 5px 7px;
  border: none;
  border-radius: 3px;
  color: darkslategrey;
  margin: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  cursor: pointer;
}

.container {
  border-left: solid 10px rgba(114, 80, 57, 0.39);
  border-right: solid 10px rgba(114, 80, 57, 0.39);
  border-top: solid 10px rgba(114, 80, 57, 0.39);
  border-bottom: solid 2px rgba(114, 80, 57, 0.39);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 600px;
  min-height: 50vh;
  max-height: auto;
  margin: auto;
  justify-content: center;
  text-align: left;
  padding: 5px;
}

.legs {
  width: 600px;
  height: 30px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0);
  margin: auto;
  border-left: solid 10px rgba(114, 80, 57, 0.39);
  border-right: solid 10px rgba(114, 80, 57, 0.39);
  
}

.main {
  min-height: 80vh;
  max-height: auto;
  padding-bottom: 20px;
}

.summary {
  display: inline-block;
  width: 50vw;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  padding: 20px;
}

.border {
  border-bottom: dashed grey 1px;
  padding: 10px;
}